---
---

@import "variables.scss";
@import "utility.scss";

@import "normalize.scss";
@import "base.scss";

@import "button.scss";
@import "featurette.scss";
@import "jumbotron.scss";
@import "layout.scss";
@import "nav.scss";
@import "progress.scss";
@import "syntax.scss";

.site {
  font: $base-font;
  margin: 0;
  padding: 0;
}

.masthead {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  background-color: $color-yellow;

  a {
    color: #2e2e2c;

    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.colophon {
  padding: 2em;
  text-align: center;
}
.site-title {
  font: $heading-font;
  margin: 0;
  padding: 0;
  font-size: 4.5em;
  font-weight: normal;
  text-align: left;
}

.site-tagline {
  font: $heading-font;
  font-size: 1.2em;
  text-align: left;
}

#star-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
}

#tweet-button {
  position: absolute;
  top: 10px;
  left: 100px;
  z-index: 100;
}
