<footer class="colophon">
  <div class="container">
    &copy; Copyright 2015 <a href="http://caspervonb.com">Casper Beyer</a>
  </div>
</footer>

<script src="jquery.min.js"></script>
<script src="jquery.teletype.min.js"></script>

{% if site.analytics %}
<script>
$(function() {
  $('a[href^=https]').each(function() {
    $(this).click(function(e) {
      e.preventDefault();

      var redirect = function() {
        document.location = this.href;
      }.bind(e.target);

      ga('send', 'event', 'outbound', 'click', e.target.href, { 'hitCallback': redirect });

      setTimeout(function() {
        redirect();
      }, 1000);
    });
  });
});
</script>
{% endif %}


<script>
  $(function() {
    $('.teletype').teletype({
      text: [
        'JavaScript',
        'Google Chrome',
        'TypeScript',
        'Webpack',
        'CoffeeScript',
        'Browserify',
        'ECMAScript 6',
      ],
      prefix: 'Live Editing for ',
      typeDelay: 0,
      backDelay: 20
    });
  });
</script>
