<footer class="colophon">
  <div class="container">
    <p>Made with <i class="fa fa-heart"></i> by <a href="http://caspervonb.com">Casper Beyer</a></p>
    <p>&copy; Copyright 2015</p>
  </div>
</footer>

<script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=amokjscom" id="_carbonads_js"></script
<script src="jquery.min.js"></script>
<script src="jquery.teletype.min.js"></script>

{% if site.analytics %}
<script>
$(function() {
  $('a[href^=https]').each(function() {
    $(this).click(function(e) {
      var params = { };
      if (e.target.attr('target') !== '_blank') {
        e.preventDefault();

        params['hitCallback'] = function() {
          document.location = target.href;
        };
      }

      ga('send', 'event', 'outbound', 'click', e.target.href, params);
    });
  });
});
</script>
{% endif %}


<script>
  $(function() {
    $('.teletype').teletype({
      text: [
        'JavaScript',
        'Google Chrome',
        'TypeScript',
        'Webpack',
        'CoffeeScript',
        'Browserify',
        'ECMAScript 6',
      ],
      prefix: 'No Reload Live Editing for ',
      typeDelay: 0,
      backDelay: 20
    });
  });
</script>
