<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">

  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:image" content="{{ site.url }}/social.png" />
  <meta property="og:site_name" content="Amok" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:creator" content="@caspervonb">
  <meta name="twitter:image:src" content="{{ site.url }}/social.png">

  <title>{{ site.title }} - {{ page.title }}</title>

  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ " /css/main.css " | prepend: site.baseurl }}">
  {% include analytics.html %}
</head>
