<iframe class="star-button" src="https://ghbtns.com/github-btn.html?user=caspervonb&repo=amok&type=star&count=true&size=small" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
<iframe class="tweet-button" src="http://platform.twitter.com/widgets/tweet_button.23a4a4933995b86880bb787f8ff6a082.en.html#_=1428140974251&count=horizontal&dnt=false&hashtags=amokjs,webdev,javascript&id=twitter-widget-0&lang=en&original_referer=http%3A%2F%2Famokjs.com%2F&related=caspervonb&size=small&text=Amok%20-%20Live%20Editing%20for%20JavaScript&url=http%3A%2F%2Famokjs.com&via=caspervonb" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>

<header class="masthead">
  <h1 class="project-title">
    {{ site.github.project_title }}
  </h1>

  <p class="project-tagline">
    {{ site.github.project_tagline }}
  </p>
</header>
