#carbonads {
  z-index: 100;
  background: white;
  max-width: 400px;
  position: fixed;
  bottom: 5px;
  right: 5px;

  padding: 15px;
  border: 1px solid #ccc;
}

.carbon-text {
  display: block;
  width: 130px;

  font-size: 16px;
  color: orange;
}

.carbon-poweredby {
  color: lightgray;
  float: right;
    font-size: 10px;

}

.carbon-text {
    padding: 8px 0;
}
