.jumbotron {
  margin-top: -2rem;
  margin-bottom: 3rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  font-size: 1.25rem;
  color: #2e2e2c;
  text-align: center;
  background-color: $color-yellow;

  .btn {
    padding: .75em 1.15em;
    font-size: inherit;
    font-weight: normal;
    line-height: 1;
    margin: 0.5em 0;
  }
}
