.navbar {
  margin-top: 1rem;
  font-size: 1rem;

  a {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.25rem;
    }
  }

  .active {
    color: #2e2e2c;
    font-weight: 500;
  }

  a {
    color: #2e2e2c;
  }

  .navbar-title {
    float: left;
    display: inline-block;
    font-size: 1.5rem;
    color: #2e2e2c;
  }

  .navbar-menu {
    float: right;
    margin-top: 0.5rem;
    margin-left: 4em;
  }
}


@media (max-width: 34em) {
  .navbar-title {
    float: none;
    text-align: center;
    width: 100%;
  }

  .navbar-menu {
    display: block;
    width: 100%;
    text-align: center;

    float: none;
    padding-top: 1rem;
    border-top: 0.075rem solid rgba(255,255,255,0.25);
  }
}
