.progress {
  display: block;
  position: relative;
  background: #555;
  border-radius: 2px;
  padding: 0;
  width: 100%;
  margin: 2em 0 .5em;

  .progress-meter {
    position: absolute;
    display: block;
    height: 100%;
    background-color: #6cc644;
  }

  .progress-text {
    color: #fff;
  }
}
