$container-width: 980px !default;
$grid-gutter:     10px !default;

$base-font: 'Montserrat';
$heading-font: $base-font;

$base-font-size: 16px !default;

$monospace-font: 'Inconsolata';

$color-blue:       #4183c4 !default;
$color-gray-light: #999    !default;
$color-gray:       #666    !default;
$color-gray-dark:  #333    !default;
$color-green:      #6cc644 !default;
$color-red:        #bd2c00 !default;
$color-orange:     #f93    !default;
$color-purple:     #6e5494 !default;
$color-yellow:     #f3df49 !default;
