@import "breakpoints";

#carbonads {
  z-index: 100;
  background: white;
  max-width: 400px;
  position: fixed;
  bottom: 5px;
  right: 5px;

  padding: 15px;
}

.carbon-text {
  display: block;
  width: 130px;

  font-size: 14px;
  color: #333333;
}

.carbon-poweredby {
  color: lightgray;
  float: right;
  font-size: 10px;

}

.carbon-text {
  padding: 8px 0;
}

@include small {
  display: none;
}
